*{
    box-sizing: border-box;
    margin: 0;
}
.calculator {
    width: 350px;
    height: 500px;
    background: lightgray;
    border-radius: 20px; 
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 10px 20px gray;
}
button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
}